ul.list {
  > li {
    margin-bottom: 1em;
  }

  &.comma-separated {

    margin: 0;
    padding: 0;
    display: inline;

    > li {
      display: inline;

      &:after {
        content: ", ";
      }

      &:last-child:after {
        content: "";
      }
    }
  }
}