.mediaCard {

  @extend .media;

  .label {
    display: inline-block;

    &:after {
      content: ': ';
      white-space: pre;
    }
  }
}

.mediaCard-media {
  @extend .media-left;
}

.mediaCard-content {
  @extend .media-content;
  align-self: stretch;

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.mediaCard-footer {
  @extend .field;
  @extend .is-grouped;
  margin-top: auto;
}

.mediaCard-overview
{
  text-overflow: ellipsis;
  max-height: 96px;
  overflow:hidden !important;
  position: relative;
}

.mediaCard-overview:before {
  content: '...';

  position: absolute;
  right: 20px;
  bottom: 0;
}

.mediaCard-overview:after {
  content: '';

  position: absolute;
  right: 20px;

  width: 1em;
  height: 1em;
  margin-top: 0.2em;

  ///* bg color = bg color under block */
  background: white;
}