.photoPlaceholder {
  height: 278px;
  width: 185px;
  background: #ededed;
  position: relative;
}

.photoPlaceholder-background
{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}